#root {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error-text {
  color: red;
}

.success-text {
  display: block;
  color: green;
  min-height: 24px;
}

.theme-toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.theme-toggle {
  padding: 0.2rem;
  background-color: transparent;
  color: var(--font-color);
}

.theme-toggle:hover {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  #root {
    padding: 2rem 0;
  }
}
