:root {
  --bg-color: #242424;
  --font-color: rgba(255, 255, 255, 0.87);
  --btn-bg-color: rgb(26, 26, 26);
  --btn-hover-bg-color: rgba(26, 26, 26, 0.9);
  --btn-selected-bg-color: rgb(15, 15, 15);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --font-color: rgba(0, 0, 0, 0.87);
  --btn-bg-color: rgb(137, 137, 137);
  --btn-hover-bg-color: rgba(137, 137, 137, 0.9);
  --btn-selected-bg-color: rgba(160, 171, 76, 0.9);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.17rem;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

/* Button */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--btn-hover-bg-color);
}
button.selected {
  background-color: var(--btn-selected-bg-color);
  font-weight: 600;
}
button:disabled {
  cursor: not-allowed;
}

/* Textarea */
textarea {
  display: block;
  box-sizing: border-box;
  padding: 0.6em;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}
